
a.event-link {
  color: #c12e0d;
}

a.event-link:hover {
  color: #c12e0d;
  text-decoration: underline;
}

.songkick-logo {
	height: 25%;
	width: 25%;
}

table, th, td, tbody {
	text-align: center;
	color: black;
}